@media screen and (max-width: 1040px)    
    .blocks
        flex-direction: column-reverse !important
        //margin-top: 30px !important
        padding-left: 15px !important
        width: 100% !important
    main
        width: 100% !important
        max-width: 100% !important
    .block1
        margin-top: 30px !important
@media screen and (max-width: 809px)
    .Mm
        display: none !important
@media screen and (max-width: 509px)
    .menu
        p
            font-size: 12px !important
        margin: 0 auto !important
        &:not(:first-child)
            margin-left: 45px !important
    .div1
        p
            font-size: 16px !important
    .div2
        p
            font-size: 16px !important
@media screen and (max-width: 730px)
    .block2
        width: 600px !important
        //margin-right: 20px !important
@media screen and (max-width: 630px)
    .block2
        width: 500px !important
@media screen and (max-width: 530px)
    .block2
        width: 400px !important
        height: 344px !important
    .class
        font-size: 15px !important
@media screen and (max-width: 430px)
    .block2
        width: 345px !important
        height: 320px !important
        p
            font-size: 24px !important
    .class
        font-size: 13px !important
    .menu
        p
            font-size: 12px !important
        margin: 0 auto !important
        &:not(:first-child)
            margin-left: 12px !important
@media screen and (max-width: 720px)
    body
        background-image: url(../img/555.png) !important
@media screen and (max-width: 430px)
    body
        background-image: url(../img/333.png) !important
@media screen and (min-width: 810px)
    .burger-menu
        display: none
    .Bmenu
        display: none
@media screen and (max-width: 809px)
    .Bmenu 
        position: fixed
        width: 100%
        height: 100%
        background-color: rgb(192, 199, 255)
        top: -100%
        left: 0
        transition: top 0.3s
        z-index: 900
        display: flex
        justify-content: center
        align-items: center
    .Bmenu .ol 
        list-style: none
        padding: 0
    .Bmenu .ol li 
        margin: 20px 0
    .Bmenu .ol li .Ada 
        color: rgb(47, 54, 106)
        text-decoration: none
        font-size: 24px
    .Bmenu.active 
        top: 0
    .burger-menu 
        position: absolute
        top: 40px
        right: 40px
        z-index: 1000
        cursor: pointer



    

